In [1]:
a = "Hello World"

In [3]:
a

'Hello World'

In [7]:
a[7]

'o'

In [25]:
a = int(input("enter the value="))
b = int(input("enter the value="))
if(a>b):
    print("True")
elif(b>a):
    print("False")
else :
    print("wrong input")

enter the value= 8
enter the value= 8

wrong input

In [27]:
mylist = [1,2,3,4,5,6,7]

In [29]:
mylist

[1, 2, 3, 4, 5, 6, 7]

In [35]:
for num in mylist:
  print(num)

1
2
3
4
5
6
7

In [49]:
for num in range(3,30,3):
    print(num)

3
6
9
12
15
18
21
24
27

In [58]:
name = 'palak'
for letters in enumerate(name):
    print(letters)

(0, 'p')
(1, 'a')
(2, 'l')
(3, 'a')
(4, 'k')

In [61]:
name[3]

'a'

In [63]:
type(name)

str

In [71]:
n = 7
for n in range(1,n+1):
    print('* '* n)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *